target/classes/auditdb.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="Puntu*786" database="Mysql" doc:name="MySQL Configuration"/>
    <flow name="auditdbFlow">
        <logger message="auditdb flow starts.......#[payload]" level="INFO" doc:name="Logger"/>
        <db:insert config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[insert into AUDIT_LOG1 (UniqueId,sourceApp) values(#[flowVars.Uniqueid],#[flowVars.sourceApp]);]]></db:parameterized-query>
        </db:insert>
        <logger message="response from db.......#[flowVars.Uniqueid],#[flowVars.sourceApp]................" level="INFO" doc:name="Logger"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-variable variableName="exceptionMessage" value="#[exception.cause.message]" doc:name="Variable"/>
            <set-variable variableName="exceptionTime" value="#[server.exceptionTime.format('yyyy-MM-dd HH:mm:ss.SSS')}" doc:name="Variable"/>
            <flow-ref name="errornotificationFlow" doc:name="Flow Reference"/>
        </catch-exception-strategy>
    </flow>
</mule>
